.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.portfolio-item {
  margin: 10px;
  cursor: pointer;
}

.popup-pf {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-content-pf {
  background: white;
  padding: 50px;
  overflow-y: auto;
  position: relative;
}

.popup-text-pf {
  max-width: 400px;
}

html.casper body.dark .popup-content-pf {
  background: #131313;
  color: #ffffff;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.project-card-container {
  flex-basis: calc(33.333% - 60px);
  max-width: calc(33.333% - 60px);
  margin: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.project-card-container .project-card {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 30px;
  box-shadow: 2px 2px 30px rgba(0,0,0,.2);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.project-card-container .project-content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}
.project-card-container .project-content h2 {
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
.project-card-container .project-content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.project-card-container .project-content p {
  font-size: 1em;
  font-weight: 400;
}
.project-card-container .project-content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-align {
  margin-left: 45px;
}

.title-top {
  margin-top: 75px;
}

html.casper body.dark .tags-card-container .tags-content a {
  color: #ffffff;
}

.portfolio-card {
  width: 25px;
  height: 25px;
}

@media (max-width: 1000px) {
  .project-card-container {
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 700px) {
  .project-card-container {
    flex-basis: 100%;
    max-width: 100%;
  }
}
